<div class="back_container">
    <div class="no_info">
        <div class="no">No.{{no}}</div>
        <div class="chapter"> Chapter {{chapter_no}}-{{chapter_name}}</div>
    </div>
    <div class="main">
        <div class="main_word">
            {{word}}
        </div>
        <div class="main_table">
            <div class="row bordered is_flex">
                <div class="d_50">
                    <div class="cell_title">Reading:</div>
                    <div class="cell_content">{{reading}}</div>
                </div>
                <div class="d_50 b_l">
                    <div class="cell_title">Meaning:</div>
                    <div class="cell_content">{{meaning}}</div>
                </div>
            </div>
            <div class="row is_flex bordered">
                <div class="cell_title">Sentence:</div>
                <div class="cell_content"><span>{{sentence}}</span></div>
            </div>
            <div class="row is_flex bordered">
                <div class="d_50">
                    <div class="cell_title">Related Kanji:</div>
                    <div class="cell_content">{{related_kanji}}</div>
                </div>
                <div class="d_50 b_l">
                    <div class="cell_title">Note:</div>
                    <div class="cell_content">{{note}}</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex;align-items:center;justify-content:center;gap:1rem;">
        <button><a href="https://www.weblio.jp/content/{{word}}"> Weblio</a></button>
        <button><a href="https://mazii.net/vi-VN/search/word/javi/{{word}}">Mazzi</a></button>
    </div>

</div>