.grammar_table table {
    width: 150% !important;
}

.kanji_table table {
    width: 200% !important;
}

#panda_notification .dropdown-menu {
    max-width: 400px !important;
    width: 400px;
}

#panda_notification .dropdown-menu>.adminlte-dropdown-content {
    max-height: 200px !important;
    overflow-y: scroll !important;
}

.panda-dropdown-item {
    display: block;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.panda-dropdown-item .icon {
    width: 5%;
    margin: 5px;
    text-align: center;
}

.panda-dropdown-item .text {
    width: 72%;
    max-width: 72%;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    white-space: normal;
}

.panda-dropdown-item .time {
    width: 18%;
    font-size: 0.8em;
}

.panda-material-item {
    opacity: 1;
    transform: scale(1) translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* position: absolute; */
    width: 106.5px;
    transition: all 0.5s ease-out 0ms, width 1ms ease 0s;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 1px -1px 7px 6px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px -1px 7px 6px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px -1px 7px 6px rgba(0, 0, 0, 0.07);
}

.panda-material-item:hover {
    transform: scale(1.1);
}

.w-2 {
    width: 20%;
    padding: 2px;
}
.w-4 {
    width: 40%;
    padding: 2px;
}

.w-6 {
    width: 60%;
    padding: 2px;
}

.column-item {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
}

#new-column-format {
    display: none;
}

.flex-content-center{
    display: flex;
    justify-content: center;
}