.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
    padding: 1px;

}

.back_container,
.front_container {
    background: #F5F5DC;
    padding: 0.3rem;
    padding-bottom: 2%;
    min-height: 500px;
    page-break-after: always;
    page-break-before: always;
}

.back_container .no_info,
.front_container .no_info {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;

}
.no{
    width: 49%;
    display: inline-block;
}
.chapter{
    width: 50%;
    display: inline-block;
    text-align: right;
}

.front_container .main {
    width: 100%;
}

.front_container .main .main_kanji {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;


}
.main_kanji table{
    border-collapse: separate;
}
.main_kanji table td,tr{
    border: 1px solid black;
}

.front_container .main .front_sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.7rem;


}
.row .td{
    padding: 3px;
}
.row .header{
    font-weight: bold;
    padding: 0px;
    border-bottom: 1px solid black;
    height: 2rem;
}
.row .bl{
    border-left: 1px solid black;
    
}

.back_container .main {
    width: 100%;

}

.back_container .main .main_table {
    display: block;
    padding: 0 0.5rem;
}

.back_container .main .main_kanji {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-size: 1rem;

}

.row {
    width: 100%;
    /* padding: 0.3rem 0; */
    font-size: 1rem;

}

.bordered {
    border: 1px solid gray;
    box-sizing: border-box;
}

.is_flex {
    display: flex;
}

/* table */
.d_50 {
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
}

.b_l {
    border-left: 1px solid gray;
}

.cell_title {
    display: flex;
    padding-left: 2px;
    font-weight: 800;
}

.cell_content {
    padding-left: 3px;
    text-align: left;
}
.text_center{
    text-align: center;
}

.homonym{
    width: 17rem;
}